{% extends "base.html.twig" %}

{% block body %}
    <div class="homePage">
        <h1>Welcome to Scout's Bicycle Shop</h1>
        <p>Check our current inventory here:</p>
        <a class="btn" href="/inventory">Inventory</a>
    </div>
{% endblock %}